<div class="contents">

  <div class="contents-title">
    <h3>質問を投稿する</h3>
  </div>

  <div class="question-post-form">
    <%= form_tag('/questions', method: :post) do %>
    <input class="question-title" placeholder="質問のタイトル" type="text" name="title">
    <textarea class="question-text" name="text" placeholder="質問の内容（できるだけ詳細に！）"></textarea>
    <input class="question-submit" type="submit" value="SENT">
    <% end %>
  </div>

</div>
