<div class="contents">
  <div class="contents-title">
    <h3>「<%= params[:keyword] %>」の検索結果: <%= @questions.count %>件</h3>
  </div>

  <% @questions.each do |question| %>
    <%= render partial: "questions/question", locals: { question: question } %>
  <% end %>
</div>
