<div class="contents">

  <!-- 質問を表示 -->
  <%= render partial: "questions/question2", locals: { question: @question } %>

  <!-- ここから回答フォーム -->
  <div class="answer-form">
    <% if current_user %>
      <%= form_tag("/questions/#{@question.id}/answers", method: :post) do %>
        <textarea name="text" placeholder="回答する"></textarea>
        <input type="submit" value="SENT">
      <% end %>
    <% end %>
  </div>

  <div class="answers">
      <h4>＜回答一覧＞</h4>
      <% if @answers %>
        <% @answers.each do |answer| %>
          <p>
            <strong><%= link_to answer.user.nickname, "/users/#{answer.user_id}" %>：</strong>
            <%= answer.text %>
          </p>
        <% end %>
      <% end %>
  </div>

</div>
