<div class="contents">

  <div class="contents-title">
    <h3><%= @nickname %>さんの質問一覧</h3>
    <h4>質問数: <%= @questions.count %>件</h4>
  </div>

  <% @questions.each do |question| %>
    <%= render partial: "questions/question", locals: { question: question } %>
  <% end %>

  <%= paginate(@questions) %>

</div>