/*----------------------------------------------
最初にbodyと、文字の余白とか決めておくよ！
----------------------------------------------
*/

html,body{
  height: 100%;
}

body{
  background-color: #fafafa;
  font-size: 14px;
  color: #666;
  margin: 0 auto;
}

h1,h2,h3 {
  padding: 10px 0;
  margin: 0;
  font-family: sans-serif;
}

h4,h5,h6,p {
  padding: 5px 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  color: #57C3E9;
}

textarea:focus {
  border:solid 1px #57C3E9;
}



/*-----------------------------------------
ここからはbodyの中身を指定
-----------------------------------------
*/
.wrapper {
  min-width: 960px;
}

  header {
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: solid 1px #e7e7e7;
    position: fixed;
    text-align: center;
  }

    .heading {
      height: 70px;
      width: 240px;
      margin-left: 40px;
      float: left;
      z-index: 11;
    }

      .icon{
        float: left;
        margin: 5px 0;
        height: 60px;
      }

      .title{
        float: left;
        font-size: 24px;
        margin: 17px 0;
      }

    .search {
      display: inline;
    }

      .search input{
        border: solid 1px #e7e7e7;
        border-radius: 3px;
        background-color: #fafafa;
        padding: 5px;
        width:  160px;
      }
      .btn-search{
        border: solid 1px #e7e7e7;
        border-radius: 3px;
        padding: 2px 10px;
        margin: 25px 8px;
        background-color: #fafafa;
        color: #666;
        cursor: pointer;
      }

    .navbar {
      height: 45px;
      width: 256px;
      padding-top: 25px;
      margin-right: 40px;
      float: right;
    }

      .navbar ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      .navbar ul li {
        margin: 0 5px;
        float: left;
        padding-right: 10px;
      }

/*-----------------------------------------
ここからは各画面用の中身を指定 <%= yield %>の内容。
<class=contents>：中身の大枠
  <question>：質問いっこ。たいていeachで繰り返してる
  <answer-form>：回答送信フォーム
  <answers>：回答の箱。
-----------------------------------------
*/

.contents {
  width: 660px;
  padding-top: 70px;
  margin: 0 auto;
  min-height: 515px;
}

/*「〜さんの投稿一覧」「質問を投稿する」「ログイン」「検索結果：」*/
  .contents-title{
    margin: 20px auto;
    text-align: center;
  }

  .devise-title{
    margin: 20px auto;
  }

/*質問のひとつひとつ*/
  .question {
    background-color: white;
    width: 660px;
    margin: 30px 0;
    border: solid 1px #e7e7e7;
  }

    .topic {
      padding: 12px 20px;
      background-color: #ffd4d6;
    }

    .question-content {
      padding: 12px 20px;
      border-top: solid 1px #e7e7e7;
      border-bottom: solid 1px #e7e7e7;
    }

    .more {
      height: 18px;
      padding: 12px 20px;
    }

      .more ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      .more ul li {
        margin: 0 5px;
        float: right;
        padding-right: 15px;
      }

/*「質問削除 or 新規質問投稿がうまくいきました」*/
  .success{
    margin: 150px auto;
    text-align: center;
  }

/*「回答送信フォーム」*/
  .answer-form {
    margin: 20px auto;
    text-align: center;
  }

    .answer-form textarea {
      border: solid 1px #e7e7e7;
      border-radius: 5px;
      padding:10px;
      width: 640px;
      height: 50px;
    }

    .answer-form input {
      border: solid 1px #57C3E9;
      border-radius: 5px;
      padding: 5px 15px;
      margin: 5px auto;
      background-color: #57C3E9;
      color: white;
      cursor: pointer;
    }

      .answer-form input:hover {
        background-color: white;
        color: #57C3E9;
        cursor: pointer;
        }

/*「質問に付随している回答一覧」*/
  .answers {
    padding: 0 15px;
    min-height: 150px;
  }

/*「質問新規投稿フォーム」*/
  .question-post-form {
    margin: 20px auto;
    text-align: center;
  }

    .question-title {
      border: solid 1px #e7e7e7;
      padding:10px;
      width: 640px;
      height: 18px;
    }

    .question-text {
      border: solid 1px #e7e7e7;
      margin: 10px auto;
      padding:10px;
      width: 640px;
      height: 150px;
    }

    .question-submit {
      border: solid 1px #57C3E9;
      border-radius: 5px;
      width: 660px;
      padding: 10px 0;
      text-align: center;
      background-color: #57C3E9;
      color: white;
      cursor: pointer;
    }

      .question-submit:hover {
        background-color: white;
        color: #57C3E9;
        cursor: pointer;
        }

/*「ログイン画面」*/
  .login-form{
    margin: 20px auto;
  }

    .field{
    margin: 10px auto;
    }

/*-----------------------------------------
ここからはfooterの中身を指定
-----------------------------------------
*/

footer {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: center;
  clear: both;
}